.landingpage {
    width: 100%;
    min-height: 100vh; /*70vh*/
    margin: 1rem auto;
    overflow-x: hidden;
    margin-bottom: -10rem;
}

.jumbotron {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.message {
    flex: 1;
    text-align: left;
    padding: 3rem 4rem 4rem 0;
    margin-right: -30%;
    z-index: 5;
    /* background-color: darkgoldenrod; */
}


.governor-image {
    flex: 1;
    margin-top: 23.5%;
    margin-right: -55%;
    z-index: 3;
}

.governor-image img {
    width: 40%;
}

.phone-image {
    flex: 1;
    margin-top: 0%;
    margin-right: -55%;
    /* background-color: brown; */
}

.phone-image img {
    width: 80%;
}

.btn-landing {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 1rem;
    color: #fff;
    background: var(--secondary-color);
    transition: background .2s ease-in;
}

.btn-landing:hover {
    background: #fff;
    color: var(--secondary-color);
}


h2 {
    font-size: 4.55rem;
    font-weight: 300;
    color: #384150;
    box-sizing: content-box;
}

p {
    color:var(--secondary-color);
    font-size: 1.25rem;
    margin: 2rem 0;
}

@media only screen and (max-width: 1024px) {

  .jumbotron {
    width: 90%;
    padding: 1rem 0;
    margin: 2rem auto;
    display: block;
  }

  .message {
    width: 100%;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
  }

  .governor-image {
    display: none;
  }

  .phone-image {
    display: none;
  }

}

@media only screen and (max-width: 500px) {

    .jumbotron {
      width: 90%;
      padding: 1rem 0;
      margin: 2rem auto;
      display: block;
    }

    .message {
        width: 100%;
        margin: 0 auto;
        padding: .5rem;
        text-align: center;
        font-size: 1rem;
    }

    .governor-image {
        display: none;
    }

    .phone-image {
        display: none;
    }

    h2 {
      font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}