.landingpage {
    width: 100%;
    min-height: 60vh;
    margin: 0 auto;
}

.jumbotron {
    width: 90%;
    height: 100%;
    margin: 2rem auto;
    display: flex;
}

.message {
    flex: 1;
    text-align: left;
    padding: 3rem;
    margin-right: -650px;
    z-index: 5;
}

.landing-image {
    flex: 1;
    margin-left: 100px;
}

.phone-image {
    width: 700px;
}

.btn-landing {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 1rem;
    color: #fff;
    background: var(--secondary-color);
    transition: background .2s ease-in;
}

.btn-landing:hover {
    background: #fff;
    color: var(--secondary-color);
}


h2 {
    font-size: 3.25rem;
    font-weight: 300;
    color: #384150;
}

p {
    color:var(--secondary-color);
    font-size: 1.25rem;
    margin: 1rem 0;
}

@media only screen and (max-width: 500px) {

    .jumbotron {
      width: 90%;
      padding: 1rem 0;
      margin: 1rem auto;
      display: block;
    }

    .message {
        width: 100%;
        margin: 0 auto;
        padding: .5rem;
        text-align: center;
        font-size: 1rem;
    }

    .landing-image {
        display: none;
    }

    h2 {
      font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}