<footer>
    <section class="container">
        <div class="brand-name">
            <img class="numeral-logo" src="../../assets/images/logoweb.png" alt="NumeralIOT logo">
        </div>
        <div class="copyright">&copy; Copyright {{year}}. A product of Numeral IOT</div>
        <div class="socials">
            <div class="socials-title">Follow us on:</div>
            <ul class="socials-menu">
                <li>
                    <a href="https://www.facebook.com/iotnumeral/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/numeraliot/?r=nametag" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/numeral-iot/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</footer>
