<section class="aboutpage">
  <div class="jumbotron">
    <div class="about-info">
      <h2>About Us</h2>
      <p>
        NIOT has developed hardware, software and firmware for a digital, 
        tamper proof 3 in 1 speed governor, which is the only one of its kind in the market. SIMBA! 
        The 3 in 1 speed governor has the following 3 main functionalities according to KEBS standard KS2295:2018
      </p>
      <p>Speed Limiter. Real-time Tracking. Recorder</p>
      <p>Additional Features: Geo-fencing, GPS logging, Printer port, USB port, Stop Engine, Trips and Fleet Management.</p>
    </div>
    <div class="about-image">
      <img src="../../assets/images/products-image.png" alt="products-image">
    </div>
  </div>
</section>
