header {
    width: 100%;
    border-bottom: .5px solid #eee;
    padding: .5rem 0;
    box-shadow: 0px 2px 2px #00000029;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 a .simba-logo {
    width: 200px;
}

a {
    color: var(--secondary-color);
}

@media only screen and (max-width: 500px) {
  h2 a .simba-logo {
    width: 120px;
  }
}