<section class="success-page">
  <div class="jumbotron">
    <h2>Thanks for taking our survey!</h2>
    <p>Share our survey with your friends</p>
    <div class="share">
      <a rel="noopener noreferrer" href="https://www.facebook.com/sharer.php?u=https://simbagovernor.now.sh/">
        <i class="fab fa-facebook-f fb-share"></i>
      </a>
      <a class="twitter" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=I%20just took Simba Speed Governor Survey, You can too on this link https://simbagovernor.now.sh/" target="_blank">
        <i class="fab fa-twitter tw-share"></i>
      </a>
      <a class="whatsapp" rel="noopener noreferrer" href="https://api.whatsapp.com/send?text=I%20just took Simba Speed Governor Survey, You can too on this link https://simbagovernor.now.sh/" target="_blank">
        <i class="fab fa-whatsapp ws-share"></i>
      </a>
    </div>
    <a class="btn btn-success" routerLink="/">
      <i class="fas fa-long-arrow-alt-left"></i>
       Back to Home
    </a>
  </div>
</section>

